body {
  font-family: "Century Gothic";
}

main, header {
  max-width: 60%;
  margin: 0 auto;
}

header h1 {
  font-size: 6em;
  margin: 0;
}
header {
  background-image: url('breakout.png');
  background-size: 100px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: right;
}

canvas#breakout {
  background: #45484d; /* Old browsers */
  background: radial-gradient(ellipse at center, #45484d 0%,#000000 100%); /* W3C */
  border-radius: 10px;
  border: 4px solid #d5282d;
  width: 100%;
}
