<?xml version=”1.0″ encoding=”UTF-8″?>
<configuration>
<system.webServer>

<staticContent>
<clientCache cacheControlMaxAge=”14.00:00:00″ cacheControlMode=”UseMaxAge”/>

<mimeMap fileExtension=”.unity3d” mimeType=”TYPE/SUBTYPE” />

</staticContent>
<urlCompression doDynamicCompression=”true” dynamicCompressionBeforeCache=”true”/>
<caching>
<profiles>
<add extension=”.jpg” policy=”CacheForTimePeriod” duration=”00:01:00″ varyByHeaders=”Accept-Language”/>
</configuration>
</xml>